<form method="POST" action="/new">
    <h1>Submit form</h1>
    <label for="user">User:</label>
    <input name="user">
    <label for="text">Text:</label>
    <input name="text">
    <button type="submit">Submit</button>
</form>