<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <% message_obj.forEach((item) => { %>
        <h2><%= item.user %></h2>
        <h3><%= item.text %></h3>
        <p><%= item.added %></p>
      <%  }) %>
    </div>
  </body>
</html>
